#titolo{
    font-size: 25px;
    font-weight: bold;
    
    text-align: center;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 60px;
}

#military_salute{
    margin-top: 10px;
}

#reputazioneForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 120px;
    margin: 20px auto;
    padding: 10px 0;
}