h3{
  color: green;
}

.nuovoprodotto{
  text-align: center;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-button {
  background-color: #1e8fffc5;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 7px 20px;
  cursor: pointer;
  outline: none;
}

.opzioni-ordinamento{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#ordina{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.filter-button {
  background-color: #1e8fffc5;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 7px 20px;
  cursor: pointer;
  outline: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  margin-top: 50px;
  margin-bottom: 50px;
}

.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  max-width: 300px;

  position: relative;
}

.cell img{
  width: 175px;
  height: 275px;
}

.cell a{
  margin-top: 10px;
  text-decoration: none;
  color: inherit; /* Usa il colore ereditato dall'elemento padre */
}

.cell a h5{
  margin-top: 10px;
  text-align: center; /* Allinea il testo orizzontalmente */
}

#prod_info{
  padding: 0;
  margin: 0;
}

#sell{
  font-size: 18px;
  margin-left: 10px;
}

.bottone input[type="submit"] {
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  color:#1a1a1a;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.bottone input[type="submit"]:hover{
  color:#1e8fffc5;
}

.carrello input[type="submit"]{
  background-color: #1e8fffc5;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 220px; /* Regola la larghezza del bottone*/

  padding: 10px;
  margin-top: 0;
}

.carrello input[type="submit"]:hover{
  color: #ffffff;
}

.carrello input[type="button"]{
  background-color: red;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: not-allowed;
  text-align: center;
  width: 220px; /* Regola la larghezza del bottone*/

  padding: 10px;
  margin-top: 0;
}