.titoletto{
    text-align: center;
        
    font-size: 30px;
    font-weight: bold;
}

.container_sp{
    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
}

.domanda{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: auto; 
    height: auto; 

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.risposta{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: auto; 
    height: auto; 

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.info-domanda, .info-risposta {
    display: flex;
    justify-content: space-between;
}

.utente, .data {
    margin: 0;
    font-weight: bold;
}

.testo-domanda, .testo-risposta {
    margin: 10px 0;
}

textarea{
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 15px; 
    border: none; 
    width: fit-content;
}

.form-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valutazioneForm{
    display: flex;
    align-items: center;
}

select {
    width: fit-content;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
select option {
    background-color: #f9f9f9;
    border: none;
    padding: 5px;
}

select option:hover {
    background-color: #e1e1e1;
}

label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="submit"] {

    display:flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #1e8fffc5;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 120px;
    margin: 0 auto;
    padding: 10px 7px; 
    
    margin: 10px auto;
}

#ha_votato{
    font-size: 25px;
    font-weight: bold;
    
    text-align: center;
}

.riga_bottoni{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
}

#bottoniForm{
    margin-left: 10px;
    margin-right: 10px;
}

#new_question{
    text-align: center;
}

#new_question  a{
    color: #1a1a1a;
    text-decoration: none;
}

#new_question a:hover{
    color:#1e8fffc5;
}