.titoletto{
  text-align: center;
  cursor: pointer;
    
  font-size: 30px;
  font-weight: bold;
}

.titolo-fumetto {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #1a1a1a;

  width: 30%;
  border-radius: 20px;
  
  margin: 0 auto;
  margin-bottom: 30px;
}

.bottone input[type="submit"] {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: bold;

  color: #ffffff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.bottone input[type="submit"]:hover{
  color:gray;
}