h3 {
  margin-top: 5px;
}

h4 {
  margin-top: 50px;
  color: red;
}

.container_external{
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 50px auto;

  height: 185vh;
  width: 90%;
  max-width: 900px;

  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container_reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  text-align: center;
}

#prodottoForm {
  display: flex;
  flex-direction: column;
}

#prodottoForm a {
  text-decoration: none;
  color: #1a1a1a;
}

#prodottoForm a:hover {
  color: #1e8fffc5;
}

form label {
  margin-bottom: 5px;
}

input {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 15px; 
  border: none; 
}

.form-row {
  margin-right: 100px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.form-row label {
  margin-left: 20px;
  margin-right: 10px;
  flex: 1;
  text-align: left;
}

input[type="submit"] {
  background-color: #1e8fffc5;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 120px;
  margin: 20px auto;
  padding: 10px 0;
}

.modify-text{
  margin-bottom: 10px;
}

textarea{
  resize: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 15px; 
  border: none; 
}