.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;

    background-color: #1a1a1a;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    margin-top: 40px;
    margin-bottom: 60px;
}

.container img {
    width: 300px;
    height: 425px;
    margin: 30px 400px 30px 30px; /*margine: sopra destra sotto sinistra */
}

.button-row{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;

    text-align: left;
    justify-content: left;

    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.rep{
    text-align: right;
}


.info-libro {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;

    margin-right: 30px;
}

.info-prezzo{
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;

    margin-top: 20px;
    margin-right: 30px;
}

.info-sconto{
    display: flex;
    flex-direction: column;
    align-items: left;
    flex: 1;

    margin-top: 30px;
    margin-right: 30px;
}

.field-label {
    font-size: 18px;
    font-weight: bold;
    text-align: left; /* Allinea etichetta a sinistra */
}

.field-value {
    font-size: 18px;
    text-align: left; /* Allinea valore a destra */
}

.descrizione-libro {
    margin-top: 20px; /* Spazio sopra la descrizione */
}

.descrizione-libro h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.descrizione-libro p {
    font-size: 16px;
    line-height: 1.5;
}

.info-header button{
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 12px;
    color: #ffffff;
}

h4, #modifica_prod {
    display: inline-block;
    vertical-align: middle;
}

#modifica_prod{
    font-size: 15px;
}

.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.img-text button{
    height: auto;
    margin-left: 90px;

    background-color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    padding: 10px;

    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 120px; /* Regola la larghezza del bottone*/
    margin-bottom: 20px;
}

#no_response{

    font-size: 25px;
    font-weight: bold;
    
    text-align: center;

    margin-top: 90px;
    margin-bottom: 90px;
}

textarea{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px 15px;

    width: 75%;
    
    border: none;
    resize: none; 
}

.titolo-review{
    text-align: center;
    cursor: pointer;

    font-size: 25px;
    font-weight: bold;
}

.titolo-review a{

    text-decoration: none;
    color: #ffffff;
}

.titolo-review a:hover{
    color:#1a1a1a;
}

/*CSS per domande, risposte e valutazioni del prodotto*/

.titoletto{
    text-align: center;
        
    font-size: 30px;
    font-weight: bold;
}

.container_sp{
    display: flex;
    flex-direction: column;

    margin-bottom: 80px;
}

.domanda{
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
    width: auto; 
    height: auto; 
}

.risposta{
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
    width: auto; 
    height: auto; 
}

.info-domanda, .info-risposta {
    display: flex;
    justify-content: space-between;
}

.utente, .data {
    margin: 0;
    font-weight: bold;
}

.testo-domanda, .testo-risposta {
    margin: 10px 0;
}


textarea{
    resize: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 15px; 
    border: none; 
    width: fit-content;
}

.form-row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.valutazioneForm{
    display: flex;
    align-items: center;
}


select {
    width: fit-content;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
select option {
    background-color: #f9f9f9;
    border: none;
    padding: 5px;
}

select option:hover {
    background-color: #e1e1e1;
}

label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="submit"] {

    display:flex;
    flex-direction: column;
    align-items: center;
    
    color: #1a1a1a;
    background-color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 120px;
    margin: 0 auto;
    padding: 10px 0;

    margin: 10px auto;
}

#ha_votato{
    font-size: 25px;
    font-weight: bold;
    
    text-align: center;
}

#no_question{
    text-align: center;
    font-weight: bold;
}

#new_question{
    text-align: center;
}

#new_question  a{
    color: #ffffff;
    text-decoration: none;
}

#new_question a:hover{
    color:gray;
}