#no_response{

    font-size: 25px;
    font-weight: bold;
    
    text-align: center;

    margin-top: 90px;
    margin-bottom: 350px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    margin-top: 50px;
    margin-bottom: 50px;
}

.container img {
    width: 200px;
    height: 325px;
    margin: 10px 50px 30px 30px; /*margine: sopra destra sotto sinistra */
}

.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.column {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bottoni_quantita, .bottone_rimuovi{
    display: flex;
    flex-direction: row;
}

.bottoni_quantita form, .bottone_rimuovi{    
    margin-left: 10px;
    margin-right: 10px;
}

.bottoni_quantita button, .bottone_rimuovi button{

    cursor: pointer;
    border: none;
    text-decoration: none;
    background: none;
}

.bottone_rimuovi{
    margin-top: 20px;
}

#aumenta{
    color:#1DB954 ;
}

#decrementa{
    color:red ;
}

#esito_positivo{
    color: #1DB954;
    text-align: center;
}

#esito_positivo{
    color: red;
    text-align: center;
}

.carrello input[type="submit"]{
    background-color: #1e8fffc5;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 170px; /* Regola la larghezza del bottone*/
  
    padding: 10px;
    margin-top: 20px;
}
  