#esito_positivo{
    color: #1DB954;
    text-align: center;
}

h4{
  color: red;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;

  margin-top: 100px;
  margin-bottom: 80px;

}

.container img{
  margin-bottom: 20px;
}

#loginForm{
  display:flex;
  flex-direction: column;  
}

form label{
  margin-bottom: 10px;
}

/* margine tra input e nome ex. Passwrod e box psw */
input{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: none; 
}

.account a{
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.account a:hover{
  text-decoration: none;
  color: #1e8fffc5;
}


input[type="submit"]{ 
  background-color: #1e8fffc5;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 120px; /* Regola la larghezza del bottone*/
  margin: 0 auto; /* Centra il bottone orizzontalmente */
  margin-bottom: 20px;

}

.titoletto{
  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content: center;
  align-items: center;
}

#info{
  color: #1e8fffc5;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 13px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%; 
  left: 50%;
  margin-left: -60px; /* Regola la posizione del tooltip in base alla larghezza desiderata */
  opacity: 0;
  transition: opacity 0.3s;

  font-size: 15px;

  width: 300px;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}