html {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.light_mode{
    color: #1a1a1a;
}

.sole_luna{
    display: flex;
    flex-direction: row;
}

.header {
    background-color: #1e8fffc5;
    padding: 10px;
    border-radius: 10px;
}


.nav {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a i{
    margin-left: 30px;
}


.nav form {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center; 
}

.nav form button {
    background: none;
    border: none;
    cursor: pointer;
}