html {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    background-color: #0e0e0e;
    color: #ffffff;
}

.dark_mode{
    color: #ffffff;
}

.header {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
}

/* Stile della barra di navigazione */
.nav {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color:#ffffff;
}

.nav a i{
    margin-left: 30px;
}

.nav form {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center; 
}


.nav form button {
    background: none;
    border: none;
    cursor: pointer;
}