html{
    border-style: solid;
    border-width: 2px;
}

body{
    background-color: rgb(239, 209, 179);
}

.titolo{
    font-family: 'Monaco', monospace;
    font-style: oblique;
    list-style: none;
    background-color: none;
    margin:5px;
    text-align: center;
    color: black;
}

h2{
    font-family: 'Monaco', monospace;
    font-style: oblique;
}



.home{
    position: absolute;
    top:8px;
    left:16px;
}

.container {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap; /*Gli elementi all'interno della riga si sposteranno su righe separate */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-style: solid;
    border-radius: 25px;
    margin: 22px;
    text-decoration: none;
  }

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-decoration: none;
}
  
.item img {
    width: 100px;
}
  
.item p {
    font-family: 'Monaco', monospace;
    font-style: oblique;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;

    transition: transform 0.3s ease;/*transition: <proprietà> <durata> <funzione-tempo>; */
} 

.bottone input[type="submit"] {
    
    font-family: 'Monaco', monospace;
    font-style: oblique;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.crediti{
    font-family: 'Monaco', monospace;
    font-style: oblique;
    text-align: center;
  }