html{
    border-style: solid;
}

body{
    background-color: #1a1a1a;
    color: #ffffff;
}

.titolo{
    font-family: 'Monaco', monospace;
    font-style: oblique;
    list-style: none;
    background-color: none;
    margin:5px;
    text-align: center;
}

.home{
    position: absolute;
    top:8px;
    left:16px;
}

.main{
    margin-top: 20px;
    font-size: 20px; /* Aumento la dimensione del testo*/
    padding: 0px 10px;
}

h2{
    font-family: 'Monaco', monospace;
    font-style: oblique;
}

.libro{
    padding:20px;
    padding-top:10px;
    padding-bottom:10px;
    background-color: grey;
    display: inline-block;
    border-style: solid;
    border-radius: 25px;
    text-align: center;
    margin-left: 30%;
}

.crediti{
    font-family: 'Monaco', monospace;
    font-style: oblique;
    text-align: center;
  }