/* Stile del bordo per l'intero documento HTML */
html {
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
  }
  
  body {
    background-color: #1a1a1a;
    color: #ffffff;
  }

  .titolo {
    font-family: 'Monaco', monospace;
    font-style: oblique;
    list-style: none;
    background-color: transparent;
    margin: 5px;
    text-align: center;
  }
  
  .main {
    margin-left: 160px; /* Stessa larghezza della barra laterale per evitare sovrapposizioni */
    font-size: 20px; /* Aumento la dimensione del testo */
    padding: 0px 10px;
  }
  
  h2 {
    font-family: 'Monaco', monospace;
    font-style: oblique;
  }
  
h3 {
    font-family: 'Monaco', monospace;
    font-style: oblique;
    color: #ff0000;
}

.home {
    position: absolute;
    top: 8px;
    left: 16px;
}
  
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.container_reg{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}   

.rotating-figure {
    position: absolute;
    top: 80px;
    left: 730px;
    width: 80px;
    animation: rotate 4s infinite linear;
}

.rotating-figure img{
  width: 80%;
}  

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

  form {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  form label {
    font-family: 'Monaco', monospace;
    font-style: oblique;
    margin-bottom: 10px;
    color: #ffffff; 
  }
  
  input {
    margin-bottom: 20px;
  }
  
  .crediti {
    font-family: 'Monaco', monospace;
    font-style: oblique;
    text-align: center;
    color: #ffffff; 
  }
  